*.emacs.desktop.lock
elisp-objects/
.cache/
auto-save-list/
transient/
var/pcache/
elpa/archives/
eshell/
private/
url/cache/

/scratch
/TAGS
/history
/network-security.data
/session.*
/ac-comphist.dat
/projectile-bookmarks.eld
/recentf
/forge-database.sqlite