*.emacs.desktop.lock
.cache/
.cask/
.python-environments/
auto-save-list/
elisp-objects/
elpa/
elpa/archives/
eshell/
private/
transient/
url/
url/cache/
var/pcache/

/TAGS
/ac-comphist.dat
/async-bytecomp.log
/conf/local-init.el
/forge-database.sqlite
/history
/network-security.data
/projectile-bookmarks.eld
/projectile.cache
/recentf
/scratch
/session.*